main {
    margin-top: -2rem;
}

.about {
    display: grid;
    gap: 2.5rem;
    text-align: center;
    padding: 2rem;
    justify-content: center;
    background-color: var(--color-background2);

    h1, span {
        color: var(--color-h1);
        font-weight: bold;
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
    }
    

    p {
        text-align: left;
        color: var(--color-paragrafo);
        font-weight: medium;
        font-size: 1.1rem;
    }

    .imgContainer {
        position: relative;
        display: flex;
        justify-content: center;
        justify-self: center;
        align-items: center;
        border-radius: 50%;
        width: 70%;
        height: auto;
        z-index: 1;
        padding: 0;
        

        img {
            max-width: 100%;
            width: 100%;
            height: auto;
            z-index: 2;
        }
    }
    .imgContainer::before {
        content: '';
        position: absolute;
        width: 90%;
        height: 90%;
        border-radius: 50%;
        animation: girar 3s linear infinite;
        background: conic-gradient(
                #B4FF4F, 
                #966d9f, 
                #B4FF4F
        );
        filter: blur(15px);
        z-index: -1;

    }
   
    @keyframes girar {
            0% {
                transform: rotate(0deg) scale(1.1);
            }
            100% {
                transform: rotate(360deg) scale(1.1);
            }
    }

}

.stations {
    padding: 2rem;
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    background-color: var(--color-background1);

    h2 {
        color: var(--color-h2-);
        font-weight: bold;
        font-size: 1.6rem;
    }
}

.bike {
    display: grid;
    text-align: center;
    gap: 1.5rem;
    padding: 2rem;
    background-color: var(--color-background2);

    h2, span {
        color: var(--color-h2);
        font-weight: bold;
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
    }
    h3 {
        color: var(--color-h3);
        font-weight: medium;
        font-size: 1.2rem;
        margin-bottom: 2.5rem;
    }

    .carrousel {
        min-width: 0;
    }
}

.app {
    display: grid;
    text-align: center;
    padding: 2rem;
    background-color: var(--color-background1);
    position: relative;

    h2,span {
        color: var(--color-h2-);
        font-weight: bold;
        font-size: 1.6rem;
    }
}
.app::after {
    content: "";
    width: 90%;
    height: 1px;
    background-color: var(--color-background2);
    position: absolute;
    bottom: 10px;
    justify-self: center;
}

@media (min-width: 768px) {

    main {
        margin-top: 2rem;
    }

    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 4rem 2rem;

        h1,span {
            font-size: 2.5rem;
        }

        p {
            font-size: 1.2rem;
            line-height: 1.4;
        }

        div {
            padding: 2rem;
            align-self: center;
            display: grid;
            text-align: left;
        }

        .imgContainer {
            max-width: 100%;
            width: 25vw;
            justify-self: center;
            align-self: center;

        }
    }

    .stations {
        padding: 4rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 0rem;

        h2 {
            font-size: 2.5rem;
        }
    }

    .bike {
        grid-template-columns: 45% 1fr;
        text-align: start;
        padding: 4rem 2rem;
        background-color: var(--color-background2);

        .Bikedescription {
            padding: 2rem;
            align-self: center;
            display: grid;
            flex-direction: column;
        }

        h2, span {
            font-size: 2.5rem;
        }
        h3 {
            color: var(--color-h3);
            font-weight: 500;
            font-size: 1.5rem;
        }
        .carrousel {
            display: none;
        }
    }
    .app {
        text-align: center;
        padding: 4rem 2rem;
        display: grid;
        gap: 3rem;

        h2,span {
            font-size: 2.5rem;
            justify-self: center;
        }
    }

    .app::after {
        width: 90%;
        height: 3px;
    }
}