main {
    padding-top: 8rem;
}

.containerList {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background2);
    padding: 1.5rem;
    gap: 1rem;

    h1 {
        font-size: 1.3rem;
        color: var(--color-h1);
    }

    .button {
        padding: 0.5rem 0.5rem ;
        background-color: var(--color-button);
        border: none;
        color: #B4FF4F
    }
}

.listDesktop {
    display: none;
}

.list {
        display: flex;
        gap: 1.5rem;
        flex-direction: column;
        padding: 0 1.5rem 1.5rem 1.5rem;
        background-color: var(--color-background2);
        margin-top: -2px;

        li {
            list-style: none;
            color: var(--color-paragrafo);
            width: 80%;
        }
        li:hover {
            text-decoration: underline;
            color: #aaaaaa;
            cursor: pointer;
        }
}

@media (min-width:768px) {
    .container {
        display: grid;
        grid-template-columns: 20% 1fr;

    
        .containerList {
            flex-direction: column;
            justify-content: start;
            align-items: start;
            background-color: var(--color-background2);
            padding: 2rem;
            gap: 2.5rem;
            
            h1 {
                margin-top: 1.5rem;
            }
        }

        .button {
            display: none;
        }
    }
    .listDesktop {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 1.5rem;
        color: var(--color-paragrafo);

        li:hover {
            text-decoration: underline;
            color: #aaaaaa;
            cursor: pointer;
        }
    }
}