main {
    padding-top: 0.5rem;
}

.warning {
    display: grid;
    padding: 2rem;
    text-align: center;
    background-color: var(--color-background2);
    gap: 1.5rem;

    h1 {
        font-size: 1.6rem;
        color: var(--color-h1);
        margin-bottom: 1rem;
    }

    p {
        font-size: 1rem;
        color: var(--color-paragrafo);
        font-weight: medium;
    }
}

.policy {
    padding: 2rem;
    display: grid;
    justify-content: center;
    background-color: var(--color-background1);
    gap: 2rem;
    position: relative;
}

.policy::after {
        content: "";
        width: 90%;
        height: 1px;
        background-color: var(--color-background2);
        position: absolute;
        bottom: 10px;
        justify-self: center;
}

@media (min-width: 768px) {
    .warning {
        padding: 8rem 2rem;

        h1 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1.2rem;
            width: 50%;
            justify-self: center;
        }
    }

    .policy {
        gap: 4rem;
        padding: 4rem 2rem;
        grid-template-columns: 1fr 1fr;
        align-items: start;
    }

    .policy::after {
        width: 90%;
        height: 3px;
    }
    
}