.container {
    display: grid;


    p {
        font-size: 1.4rem;
        margin-bottom: 10px;
    }

    .mapContainer {
        width: 100%;
        height: 400px;
        border-radius: 10px;
        border: 1px solid var(--color-background2);
        box-shadow: 2px 2px 20px rgba(66, 35, 67, 0.5);
    }

    .buttonContainer {
        margin-bottom: 20px; 
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    

        .button {
            margin-top: 1.5rem;
            padding: 0.8rem;
            border: none;
            font-size: 1rem;
            color: var(--color-paragrafo);
            background-color: var(--color-background2);
            border-radius: 8px;
            font-weight: bold;
            transition: 0.5s;
        }
        .buttonGray {
            margin-top: 1.5rem;
            padding: 0.8rem;
            border: none;
            font-size: 1rem;
            color: var(--color-paragrafo);
            background-color: gray;
            border-radius: 8px;
            font-weight: bold;
            transition: 0.5s;
        }
        .button:hover {
            cursor: pointer;
            background-color: var(--color-button-hover);
            transform: scale(1.05);
        }
    }
}

@media (min-width: 768px) {
    .container {
        padding: 2rem;

        p {
            font-size: 1.2rem;
            grid-area: 2 / 1 ;
        }
        .mapContainer {
            width: 80%;
            height: 80vh;
            border-radius: 10px;
            border: 1px solid var(--color-background2);
            box-shadow: 2px 2px 20px rgba(66, 35, 67, 0.5);
            margin-bottom: 4rem;
            justify-self: center;
            margin-top: 1rem;
        }

        .buttonContainer {
            display: flex;
            gap: 4rem;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 1rem;
        

            .button {
                padding: 1rem 5rem;
                border: none;
                font-size: 1rem;
                margin: 0;
            }
            .buttonGray {
                padding: 1rem 5rem;
                border: none;
                font-size: 1rem;
                margin: 0;
            }
            .button:hover {
                cursor: pointer;
                background-color: var(--color-button-hover);
                transform: scale(1.05);
            }
        }
    }
}
